.element__like {
  width: 23px;
  height: 18px;
  align-self: center;
  background-image: url(../../../images/lukas.svg);
  background-repeat: no-repeat;
  margin-right: 10px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
}

@keyframes scale {
  0% { 
    transform: scale(1,1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1,1);
  }
}

.element__like:hover {
  animation: scale 1.4s ease infinite;
}