.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 22px auto 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 582px) {

  .profile__title{
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}