.elements {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px 17px;
  max-width: 880px;
  width: 100%;
  margin: 47px auto 0;
  border-radius: 10px 10px 10px 10px;
}

@media screen and (max-width: 678px) {
  .elements {
    grid-template-columns: repeat(2, minmax(0,1fr));
    max-width: 581px; /* 282 ширина 1 картинки * 2 + 17(gap)*/
  }
}

@media screen and (max-width: 582px) {

  .elements {
    display: block;
    max-width: 581px; /* 282 ширина 1 картинки * 2 + 17(gap)*/
  }
}
