.element__paragraph {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 25px auto 31px 20px;
  max-width: 242px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}