.profile__edit-button {
  width: 24px;
  height: 24px;
  background-color: #000000;
  border: 1px solid white;
  font-size: 0%;
  contain: content;
  cursor: pointer;
  margin-top: 38px;
  margin-left: 18px;
}

.profile__edit-button:focus {
  outline: none;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 582px) {

  .profile__edit-button {
    width: 18px;
    height: 18px;
    padding: 0;
    margin-top: 31px;
    margin-left: 10px;
  }
}