.element__image {
  height: 282px;
  width: 100%;
  object-fit: cover;
}

.element__image:hover {
  cursor: pointer;
}

@media screen and (max-width: 582px) {
  .element__image {
    max-width: 582px;
  }
}