.popup__close {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: -33px;
  right: -33px;
  cursor: pointer;
  padding: 0;
}

.popup__close:focus {
  outline: none;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 500px) {

  .popup__close {
    top: -44px;
    right: -6px;
  }
}