.profile__add-button {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  background-color: #000000;
  align-self: center;
  cursor: pointer;
}

.profile__add-button:focus {
  outline: none;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 684px) {
  .profile__add-button {
    width: 54px;
  }
}

@media screen and (max-width: 582px) {
  .profile__add-button {
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 282px;
    width: 100%;
  }
}
