.footer__paragaph {
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 67px 20px 60px;
}

@media screen and (max-width: 582px) {
  .footer__paragaph {
    font-size: 14px;
    line-height: 17px;
  }
}